*.retry

*.lock*
#  Local .terraform directories
**/.terraform/*
_debug/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# gcloud configs
account.json

*.secret.yml
*.env

*id_rsa*

