# ipv4_address: {{ ipv4_address }}
# hostname: {{ ansible_nodename }}
# bridge_ipv4_address: {{ ip_cidr }}
# I am unable to get network to have a good config
network:
    version: 2
    renderer: networkd
    vrfs:
        vrf1005:
            table: 1005
            interfaces:
                - {{ lookup_bridge }}
    bridges:
        {{ lookup_bridge }}:
            dhcp4: true
            dhcp6: false
            interfaces: [ '{{ tunnel_name}}' ]
            addresses: [ '{{ ip_cidr }}' ]
            macaddress: {{ default_macaddress.stdout }}
    tunnels:
        {{ tunnel_name}}:
            mode: vxlan
            id: '{{tunnel_id}}'
            link: '{{ ipv4_address_iface }}'
            remote: "{{ hostvars[item]['ipv4_address_private'] }}"
            local: "{{ ipv4_address_private }}"
            port: 4789
            mac-learning: false
            mtu: 8950