# ipv4_address: {{ ipv4_address }}
# hostname: {{ ansible_nodename }}
# bridge_ipv4_cidr: {{ ip_cidr }}
network:
    version: 2
    renderer: networkd
    bridges:
        {{ lookup_bridge }}:
            dhcp4: true
            dhcp6: false
            interfaces: [ '{{ tunnel_name}}' ]
            addresses: [ '{{ ip_cidr }}' ]
            macaddress: {{ default_macaddress.stdout }}
            openvswitch:
                protocols: [OpenFlow10, OpenFlow11, OpenFlow12]
                controller:
                    addresses: [unix:/var/run/openvswitch/{{ lookup_bridge }}.mgmt]
                    connection-mode: out-of-band
                fail-mode: secure
                mcast-snooping: true
                external-ids:
                    iface-id: {{ ansible_nodename }}
                other-config:
                    disable-in-band: true
    tunnels:
        {{ tunnel_name}}:
            mode: vxlan
            id: '{{tunnel_id}}'
            link: '{{ ipv4_address_private_iface }}'
            remote: "{{ hostvars[item]['ipv4_address_private'] }}"
            local: "{{ ipv4_address_private }}"
            port: 4789
            mac-learning: false
            mtu: 8950