# ipv4_address: {{ ipv4_address }}
# ipv4_address_private: {{ ipv4_address_private }}
# hostname: {{ ansible_nodename }}
# bridge_ipv4_address: {{ local_lookup_ip }}
network:
    version: 2
    renderer: NetworkManager
    ethernets:
        {{ ipv4_address_private_iface }}:
            addresses: [ '{{ default_ip_cidr.stdout }}' ]
            nameservers:
                addresses: ["8.8.8.8", "8.8.4.4"]
            routes:
                - to: default
                  via: {{ default_gateway.stdout_lines[0] }}
    # provider specific
    vlans:
        {{ vlan_name }}:
            accept-ra: no
            id: 15
            link: {{ ipv4_address_private_iface }}
    bridges:
        {{ lookup_bridge }}:
            #dhcp4: true
            #dhcp6: false
            interfaces: [ '{{ tunnel_name}}' ]
            addresses: [ '{{ local_lookup_ip }}/{{ local_bridge_prefix }}' ]
            macaddress: "{{ '52:54:00' | community.general.random_mac(seed=inventory_hostname) }}"
            #mtu: 9000
    tunnels:
        {{ tunnel_name}}:
            mode: vxlan
            id: '{{tunnel_id}}'
            link: '{{ ipv4_address_private_iface }}'
            remote: "{{ remote_default_ip }}"
            local: "{{ ipv4_address_private }}"
            port: 4789
            mtu: 9000
            accept-ra: no
            neigh-suppress: true
            #mac-learning: false