# ipv4_address: {{ ipv4_address }}
# ipv4_address_private: {{ ipv4_address_private }}
# hostname: {{ ansible_nodename }}
# bridge_ipv4_address: {{ local_lookup_ip }}
network:
    version: 2
    renderer: networkd
    ethernets:
        {{ ipv4_address_private_iface }}:
            addresses: [ '{{ default_ip_cidr.stdout }}' ]
            nameservers:
                addresses: ["8.8.4.4", "8.8.8.8"]
            routes:
                - to: default
                  via: {{ default_gateway.stdout }}
                - to: 224.0.0.0/4
                  type: multicast
    bridges:
        {{ ovn_uplink_interface }}:
            dhcp4: no
            dhcp6: no