# ipv4_address: {{ ipv4_address }}
# ipv4_address_private: {{ ipv4_address_private }}
# hostname: {{ ansible_nodename }}
# bridge_ipv4_address: {{ local_lookup_ip }}
network:
    version: 2
    renderer: NetworkManager
    bridges:
        {{ ovn_uplink_interface }}:
            dhcp4: no
            dhcp6: no
    tunnels:
        {{ tunnel_name}}:
            mode: '{{tunnel_type | default("ipip")}}'
            remote: "{{ remote_default_ip }}"
            local: "{{ ipv4_address_private }}"
            ttl: 255
